<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.lucianbc.receiptscan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
            android:name=".presentation.ReceiptScan"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <service
                android:name="com.lucianbc.receiptscan.infrastructure.services.NotificationService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
                android:name=".presentation.home.exports.ExportService"
                android:enabled="true"
                android:exported="false" />

        <activity android:name=".presentation.receipt.ReceiptActivity" />
        <activity
                android:name=".presentation.draft.DraftReviewActivity"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".presentation.scanner.ScannerActivity"
                android:theme="@style/Scanner" />
        <activity android:name=".presentation.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.lucianbc.receiptscan"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_sharing_paths" />
        </provider>
        <provider
                android:name="androidx.work.impl.WorkManagerInitializer"
                android:authorities="${applicationId}.workmanager-init"
                android:exported="false"
                tools:node="remove" />
    </application>

</manifest>